<footer class="site-footer border-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-6 col-lg-4">
            </div>
            <div class="col-md-6 col-lg-4">
            </div>
            <div class="col-md-6 col-lg-4">
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
          <h3 class="footer-heading mb-4">Promo</h3>
          <a href="#" class="block-6">
            <img src="/public/userAssets/images/promo.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
            <h3 class="font-weight-light  mb-0">Finding Your Perfect Frames</h3>
            <p>Promo from  nuary 15 &mdash; 25, 2019</p>
          </a>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
              <li class="phone"><a href="tel://23923929210">+91 9747497317</a></li>
              <li class="email">streakxcodea@gmail.com</li>
            </ul>
          </div>

          <div class="block-7">
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" class="text-primary">Vyshnav Nalupurakkal</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
        
      </div>
    </div>
  </footer>
</div>
<script src="/public/userAssets/js/jquery-3.3.1.min.js"></script>
<script src="/public/userAssets/js/jquery-ui.js"></script>
<script src="/public/userAssets/js/popper.min.js"></script>
<script src="/public/userAssets/js/bootstrap.min.js"></script>
<script src="/public/userAssets/js/owl.carousel.min.js"></script>
<script src="/public/userAssets/js/jquery.magnific-popup.min.js"></script>
<script src="/public/userAssets/js/aos.js"></script>
<script src="/public/userAssets/js/main.js"></script>
  
</body>
</html>